@page "/red"
@rendermode InteractiveServer


@* <InputCheckbox @bind-Value=FormatData.SomeBoolean /> <br><br>
<InputText @bind-Value=FormatData.SomeString /> *@

<EditForm Model=model OnSubmit="Submit" FormName="Form1">
    <div class="form-group">
        <InputText @bind-Value=model.SomeString class="form-control" id="SomeString"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
</EditForm>

<p role="status" >@result</p>

@code {
    string result = "Works?";

    [SupplyParameterFromForm]
    private AModel model { get; set; } = new AModel();
    
    private void Submit(EditContext editContext) {
        Console.WriteLine(model.SomeString);
        result = model.SomeString;
    }
}